body {
    background: rgb(1, 6, 51);
    background: linear-gradient(151deg, #061df3 19%, #020331 100%);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20vh;
}

img {
    border-radius: 50%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    height: auto;
    max-width: 200px;
    padding: 30px;
}
    
.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    max-width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    text-decoration: none;
}

a {
    color: white;
    transition: color 0.5s;
}

a.links:hover {
    color: #000;
    background: #fff;
}
